<?xml version="1.0"?>
<configuration>

	<!-- Declaración de secciones (DEBE ir primero) -->
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<!-- Depuración en desarrollo -->
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<!-- Cadena de conexión usada por PubContext (EF6) -->
	<connectionStrings>
		<add name="PubContext"
			 connectionString="Server=.;Database=Pub;User ID=sa;Password=qwerty;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Proveedor EF6 -->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<!-- WCF -->
	<system.serviceModel>
		<services>
			<!-- Cambia BeerSoapService.Service por tu namespace/clase reales si difieren -->
			<service name="BeerSoapService.Service">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="BeerSoapService.IBeerService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>
